<h1>Edit tool</h1>

<%= simple_form_for @tool do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :location %>
  <%= f.input :price %>
  <%= f.input :photos, as: :file %>
  <%= f.button :submit %>
<% end %>
