<div class="container tool-form main-margin-top">

  <h1>Add a new tool</h1>
    <%= simple_form_for @tool do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :location %>
      <%= f.input :price %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, class: "btn-flat"%>
    <% end %>

</div>

