<div class="container tool-form">
  <h1>Add a new tool</h1>
    <%= simple_form_for @tool do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :location %>
      <%= f.input :price %>
      <%= f.button :submit, class: "btn-flat"%>
    <% end %>
</div>
