<h1><%= @tool.name %></h1>
<p><%= @tool.description %></p>
<p><%= @tool.location %></p>
<p><%= @tool.price %></p>
<p>Owner: <%= @tool.user.first_name %> <%= @tool.user.last_name %></p>
<%= link_to 'Back', tools_path %>
