<div class="navbar navbar-expand-sm navbar-light toolify-navbar">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "toolify.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Upload a tool", "#", class: "btn-flat" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Home", "#", class: "btn-transparent" %>
        </li>
        <li class="nav-item dropdown avatar-pos">
          <%= image_tag "https://media-exp1.licdn.com/dms/image/C4E03AQG8tbrlR2K73g/profile-displayphoto-shrink_800_800/0?e=1597881600&v=beta&t=y5aZ7Cr8bA6XRA8LHZa_NRituwC4ZVud_alXGOv1QDA", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My bookings", "#", class: "dropdown-item" %>
            <%= link_to "My tools", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "btn-rounded-light" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
