<h1>Dashboard</h1>
<!-- Current user dashboard -->
<p><%= current_user.first_name%> <%= current_user.last_name%></p>
<p><%= current_user.email %></p>


<!-- Will display all the bookings made as a guest -->
<h2>Tools booked</h2>

<% if current_user.bookings.nil? %>
  <p>-- No bookings made yet --</p>
<% else %>
  <% current_user.bookings.each do |booking| %>
    <p>Tool: <%= booking.tool.name %></p>
    <p>Owner: <%= booking.tool.user.first_name %> <%= booking.tool.user.last_name %></p>
    <p>Start date: <%= booking.start_date %></p>
    <p>End date: <%= booking.finish_date %></p>
    <p>Status: <%= booking.status %></p>
    <p>Total: <%= booking.total_price %> €</p>
    <p>-----------------------</p>
  <% end %>
<% end %>

<!-- Will display all bookings made as a host/owner -->
<h2>Tools rented</h2>

<% if current_user.tools.nil? %>
  <p>-- No tools for rent yet --</p>
<% else %>
  <!-- 1. We fetch the tools owned -->
  <% current_user.tools.each do |tool| %>
    <!-- 2. Display every time a tool was booked -->
    <% tool.bookings.each do |booking| %>
      <p>Tool: <%= booking.tool.name %></p>
      <p>User: <%= booking.user.first_name %> <%= booking.user.last_name %></p>
      <p>Start date: <%= booking.start_date %></p>
      <p>End date: <%= booking.finish_date %></p>
      <p>Total: <%= booking.total_price %> €</p>

      <!-- 3. Only If the status of the booking is pending both Accept and Reject buttons will apear-->
      <% if booking.status == "pending" %>
      <!-- ACCEPT BUTTON -->
        <%= simple_form_for(booking) do |f| %>
          <%= f.input :status, as: :hidden, input_html: {value: 'accepted'} %>
          <%= f.submit "Accept" %>
        <% end %>
        <!-- REJECT BUTTON -->
        <%= simple_form_for(booking) do |f| %>
          <%= f.input :status, as: :hidden, input_html: {value: 'rejected'} %>
          <%= f.submit "Reject" %>
        <% end %>
      <p>-----------------------</p>
      <% end %>
    <% end %>
  <% end %>
<% end %>











