<div class="main-margin-top">


  <div class="home-banner w-100 mt-5 mb-5 d-flex align-items-center" style="background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://cdn.pixabay.com/photo/2015/07/28/20/55/tools-864983_960_720.jpg')">
    <div class="container ">
      <h1>Find the tool you miss</h1>
      <h3>Choose your location and the tool you need</h3>

      <%= simple_form_for :query, url: tools_path, wrapper: :inline_form, html: { class: "form-inline" } do |f| %>
      <%= f.input :name, label: false, placeholder: "Name", class: "form-group mb-2" %>
      <%= f.input :location, label: false, placeholder: "Location", class: "form-group mb-2" %>
      <%= f.submit "Search", class: "btn-flat" %>
      <% end %>
      </div>

      <!-- <div class="search-form mt-5">
        <form action="">
          <div class="input-group mb-3">
            <input type="text" class="form-control input-height" placeholder="Where do you want your tool?">
            <div class="input-group-append">
              <%#= link_to "Search", tools_path, class: "btn-flat btn-upload" %>
            </div>
          </div>
        </form>
      </div> -->

    <!-- <button class="btn btn-flat">Get a tool</button> -->
  </div>
</div>

<!-- CHANGE THE SRC OF THE IMG -->
<div class="container">
  <div class="cards">
    <% @tools.take(4).each do |tool|  %>
    <%= link_to tool_path(tool) do %>
    <div class="home-cards">
     <% if tool.photo.attached? %>
     <%= cl_image_tag tool.photo.key  %>
     <% else %>
     <img class="img-show" src="https://bekservice.de/wp-content/uploads/2016/12/tools_cropped.jpg">
     <% end %>
     <div class="home-cards-infos">
      <div>
        <h2><%= tool.name%></h2>
        <p><%= tool.description.truncate(40) %></p>
      </div>
      <!-- <i class="far fa-eye tool-icon"></i> -->
    </div>
  </div>
  <% end %>
  <% end %>
</div>
</div>
</div>
